body {
    margin:0px;
    font-family:"Cairo";
}
h1 {
    text-align:center;
    margin:0px;
    background:red;
    color:white;
    border:7px solid black;
}
h2 {
    text-align:center;
    font-size:40px;
    margin:0px;
    background:yellow;
}
h3 {
    text-align:center;
}
div {
    display:flex;
    justify-content:space-between;
}
button {
    font-family:"Cairo";
    background:black;
    color:white;
    border:7px gray solid;
    border-radius:10px;
    transition:all 0.9s;
}
button:hover {
    transform:scale(0.7);
}